.f {
  background-color: rgb(180, 180, 180);
  background-image: url("../../common/assets/image/fireworks.gif");
  min-height: 700px;
  max-height: 1000px;
  padding: 140px 40px 40px 40px;
  
}

.f-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 1428px;
  margin: 0 auto;
}

p, h2{
  color: black;
}

.f-left{
  flex: 1;
  background-color: white;
  opacity: 90%;
  padding: 40px;
  border-radius: 20px;
}

.f-heading{
  margin-bottom: 8px;
  font-weight: 600;
}

.f-msg {
  margin-bottom: 24px;
}

.f-icon{
  height: 24px;
  width: 24px;
}

.f-left-wrapper{
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.f-info{
  display: flex;
  align-items: center;
  margin: 14px 20px 14px 0;
}

.f-icon{
  float: left;
}

.info{
  float: left;
  margin-left: 20px;
}

.f-right{
  flex: 1;
  position: relative;
}

.f-right-card{
  position: absolute;
  top: -26%;
  background-color: #ffffff;
  padding: 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
  right: 0;
  left: 0;
}

.t{
  width: 100%;
  margin: 8px 0 20px 0;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.f .input{
  height: 48px;
  margin: 4px 0 4px 0; 
}

.f .area{
  height: 120px;
  font-size: 14px;
  margin: 8px 0 4px 0;
}

.input-wrapper {
  margin-bottom: 20px;
}

.input:focus, .area:focus{
  border: 3px solid rgb(32, 60, 182);
}

.validation-error {
  color: red;
}

/* Css for button */


.space{
  background-color: red;
}

.m-space {
  margin-top: 10px;
}

@media screen and (max-width: 985px) {

  .f {
    min-height: 1040px;
  }

  .f-wrapper {
    flex-direction: column;
  }
}