.c{
  max-width: 400px;
  margin-bottom: 40px;
}

.c-wrapper{
  position: relative;
  justify-content: center;
  align-items: center;
  min-height: 264px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow: hidden;
}

.c-browser{
  height: 30px;
  background-color: rgb(228, 228, 228);
  border-radius: 5px 5px 0 0;
  position: sticky;
  z-index: 1000;
}

.c-img:hover{
  animation: mymove 1s ease-in-out infinite alternate;
}

.c-img{
  position: absolute;
  overflow: hidden;
  width: 100%;
}

@keyframes mymove {
  50%{
    transform: translateY(-10px);
  }
}

.c-info{
  
  margin: 20px 0 20px 0;
}

.p-name{
  text-align: left;
  margin-bottom: 8px;
}

@media screen and (max-width: 600px) {
  .c {
    width: 100%;
  }
}