.i{
  height: 100vh;
  display: flex;
  padding: 1rem;
}

.i-left{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px 0 40px ;
}

.i-right{
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.i-left-wrapper{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.i-intro{
  font-size: 30px;
  font-weight: 300;
}

.i-name{
  font-size: 60px;
  font-weight: 600;
  margin: 14px 0;
}

.i-title{
  height: 50px;
  overflow: hidden;
}

.i-title-item {
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: red;
  display: flex;
  align-items: center;
}

.i-title-wrapper{
  height: 30px;
  animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
  25%{
    transform: translateY(-50px);
  }
  50%{
    transform: translateY(-100px);
  }
}

.i-desc{
  margin-top: 12px;
}

.i-img{
  width: auto;
  max-height: 540px;
  position: absolute;
}

.i-bg{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  background: red;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 520px){
  .i{
    flex-direction: column;
  }

  .i-name{
    font-size: 32px;
  }

  .i-left{
    padding: 0 40px 0 40px;
  }

  .i-bg{
    background-color: red;
  }
}
