.p{
  overflow: hidden;
  padding: 140px 40px 40px 40px;
}

.p-title {
  margin-bottom: 12px;
}

.p-desc {
  margin-bottom: 40px;
}

.p-cards{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}